In [ ]:
# Practical Questions

In [2]:
#  1. Write a code to create a string with your name and print it.

name = "Panchanand"
print(name)

Panchanand

In [3]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
length = len(text)
print(length)

11

In [4]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
slice = text[:3]
print(slice)

Pyt

In [5]:
# 4.  Write a code to convert the string "hello" to uppercase.
text = "hello"
upper = text.upper()
print(upper)

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
replace = text.replace("apple", "orange")
print(replace)

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [9]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [10]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [11]:
# 10.  Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
reverse = numbers[::-1]
print(reverse)

[50, 40, 30, 20, 10]

In [12]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [13]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("Minimum number:", min_number)

Minimum number: 5

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print("Index of 'cat':", index)

Index of 'cat': 1

In [16]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [17]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print("Set contents:", my_set)

Set contents: {'c', 'a', 'b'}

In [18]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

In [19]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [24]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Panchanand","age": 30,"city": "Kolkata"}
person

{'name': 'Panchanand', 'age': 30, 'city': 'Kolkata'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
person

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
person

{'name': 'Alice', 'age': 30}

In [26]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
person

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [28]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'John', 'age': 28}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'John', 'age': 28}

In [30]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
random_numbers

[10, 12, 60, 75, 79]

In [32]:
# 28. Write a code to create a list with strings and print the element at the third index.
words = ["Panchanand", "Rana", "Raj", "Siddharth", "Rajyvardhann"]
words[3]

'Siddharth'

In [33]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Panchanand', 'age': 30}
dict2 = {'city': 'Kolkata', 'country': 'India'}
combined_dict = {**dict1, **dict2}
combined_dict

{'name': 'Panchanand', 'age': 30, 'city': 'Kolkata', 'country': 'India'}

In [34]:
# 30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
string_set

{'apple', 'banana', 'cherry'}